*.8014 filter=lfs diff=lfs merge=lfs -text
*.7996 filter=lfs diff=lfs merge=lfs -text
*.7989 filter=lfs diff=lfs merge=lfs -text
*.7908 filter=lfs diff=lfs merge=lfs -text
*.784 filter=lfs diff=lfs merge=lfs -text
*.7819 filter=lfs diff=lfs merge=lfs -text
*.7698 filter=lfs diff=lfs merge=lfs -text
*.7972 filter=lfs diff=lfs merge=lfs -text
*.7783 filter=lfs diff=lfs merge=lfs -text
*.7504 filter=lfs diff=lfs merge=lfs -text
